
// Spacing
$base-spacing : 10px;

// Accent Colour
$primary-color: rgb(0, 117, 255);

// Background colours
$background-color: rgb(50,50,50);
$bg-lighten-high: rgba(250,250,250,0.8);
$bg-lighten-med: rgba(250,250,250,0.6);
$bg-lighten-low: rgba(250,250,250,0.4);
$bg-darken-high: rgba(0,0,0,0.8);
$bg-darken-med: rgba(0,0,0,0.6);
$bg-darken-low: rgba(0,0,0,0.4);

// Text colours
$text-light-high: rgba(250,250,250,0.8);
$text-light-med: rgba(250,250,250,0.6);
$text-light-low: rgba(250,250,250,0.4);
$text-dark-high: rgba(0,0,0,0.8);
$text-dark-med: rgba(0,0,0,0.6);
$text-dark-low: rgba(0,0,0,0.4);